.prev,
.next {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border: 1px solid rgba(66, 86, 122, 0.5);
  color: rgba(66, 86, 122, 0.5);
  background-color: transparent;
  margin: 10px;
}

.prev:disabled,
.next:disabled {
  border: 1px solid rgba(66, 86, 122, 0.2);
  color: rgba(66, 86, 122, 0.2);
}