@import '../../styles/_colors.scss';

.prev,
.next {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border: 1px solid $black-blue-light;
  color: $black-blue-light;
  background-color: transparent;
  margin: 10px;
  @media (max-width: 800px) {
    height: 25px;
    width: 25px;
    font-size: 10px;
  }
}

.prev:disabled,
.next:disabled {
  border: 1px solid $black-blue-disabled;
  color: $black-blue-disabled;
}