$blue: rgb(56, 119, 238);
$iris: rgba(93, 95, 239, 1);
$light-gray: hsla(219, 30%, 37%, 10%);
$black-blue: rgba(66, 86, 122, 1);
$black-blue-light: rgba(66, 86, 122, 0.5);
$black-blue-disabled: rgba(66, 86, 122, 0.2);
$dark-gray: rgba(48, 62, 88, 0.5);
$pink: rgba(239, 93, 168, 1);
$background-white: rgb(230, 230, 230);
$white: rgb(255, 255, 255);
$shadow-blue: rgba(56, 119, 238, 0.25);