@import '../../styles/_colors.scss';

.container {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  @media (max-width: 800px) {
    margin-top: -240px;
  }
}

.swiper {
  width: 20%;
  height: 30%;
  color: $light-gray;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  width: 330px;
  margin-left: 20px;
  margin-bottom: 30px;
  @media (max-width: 800px) {
    margin-left: 0;
  }
  @media (max-width: 400px) {
    width: 280px;
  }
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: $blue;
  font-size: 25px;
  @media (max-width: 400px) {
    font-size: 20px;
  }
}

.text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: $black-blue;
  font-size: 20px;
  @media (max-width: 400px) {
    font-size: 14px;
  }
}

.nextBtn,
.prevBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  color: $blue;
  border: none;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 40px 4px $shadow-blue;
  -moz-box-shadow: 1px 2px 40px 4px $shadow-blue;
  box-shadow: 1px 2px 40px 4px $shadow-blue;
  @media (max-width: 800px) {
    display: none;
  }
}